.container-fluid{
    
	font-family: "Teko";
}

body {
  background: url('img/image.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  
}

.color{

   background-color: #E0E0E0;
}